name: Cypress Run Feature

on:
  workflow_dispatch:
    inputs:
      feature:
        description: 'Selecione a feature'
        required: true
        type: choice
        options:
          - Login
          - Organization

      device:
        description: 'Selecione o dispositivo'
        required: true
        type: choice
        options:
          - desktop
          - mobile
          - ambos

jobs:
  desktop:
    if: ${{ inputs.device == 'desktop' || inputs.device == 'ambos' }}
    name: Executar Cypress Desktop
    uses: cypress-io/github-action@v6
    secrets: inherit
    with:
      command: >
        npm run cy:run --
        --spec "cypress/e2e/features/${{ inputs.feature }}.feature"
        --env environment=desktop

  mobile:
    if: ${{ inputs.device == 'mobile' || inputs.device == 'ambos' }}
    name: Executar Cypress Mobile
    uses: cypress-io/github-action@v6
    secrets: inherit
    with:
      command: >
        npm run cy:run --
        --spec "cypress/e2e/features/${{ inputs.feature }}.feature"
        --env environment=mobile
